@model RolesApp.Models.RoleUsersViewModel


<h2>Подробно</h2>

<div>
    <h4>Роль</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>


    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
        </tr>


        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>



            </tr>
        }

    </table>

    @Html.ActionLink("Add User to Role", "AddToRole", new { id = Model.Id })  |  
    @Html.ActionLink("Back to List", "Index")

</div>
